<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mapas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let mapa of mapas">
        <ion-card #cardElement> <img *ngIf="mapa.imagen" [src]="mapa.imagen" alt="Imagen de {{mapa.nombreMapa}}">

          <ion-card-header>
            <ion-card-title>{{ mapa.nombreMapa }}</ion-card-title>
            <ion-card-subtitle>
              Modo Competitivo:
              <ion-icon [name]="mapa.competitivo === 'Habilitado' ? 'checkmark-circle-outline' : 'close-circle-outline'"
                        [color]="mapa.competitivo === 'Habilitado' ? 'success' : 'danger'"></ion-icon>
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>{{ mapa.descripcion }}</p>
            <p><strong>Modos Disponibles:</strong> {{ mapa.modosDisponibles }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>